---
layout: page
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  # @end locale config
show_title: false
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<script>
  {%- include scripts/home.js -%}
</script>

<iframe src='https://my.spline.design/component3diconscopy-4c8d1fcb8e80989dfeeba9d91a0b6de3/' frameborder='0' width='100%' height='100%'></iframe>

{{ content }}
